<div *ngIf="web3.walletStatus == 'Install Metamask'">
    <h2>Install Metamask</h2>
    <p>{{instructions}}</p>
</div>

<div *ngIf="web3.walletStatus == 'Connect To Correct Network'">
    <h2>Join a Network</h2>
    <p>{{instructions2}}</p>
    <table *ngIf="showTable">
        <tr>
            <td>Network Name</td>
            <td>{{networkName}}</td>
        </tr>
        <tr>
            <td>New RPC URL</td>
            <td>{{networkRPC}}</td>
        </tr>
        <tr>
            <td>ChainID</td>
            <td>31337</td>
        </tr>
        <tr>
            <td>Currency Symbol</td>
            <td>NT</td>
        </tr>
        <tr>
            <td>Block Explorer</td>
            <td>Leave this blank.</td>
        </tr>
    </table>
    <button *ngIf="showTable" (click)="verify()">Verify Your Account</button>
</div>

<div *ngIf="web3.walletStatus == 'Correctly Connected'">
    <h2>Money Faucets</h2>
    <p>{{instructions3}}</p>
    <button (click)="web3.getMoneyFromTheFaucet()">Crank Open the Faucet!</button>
</div>